<h1>Transcription Factors</h1>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= link_to "id",          :sort => "id" %></th>
          <th><%= link_to "name",        :sort => "name" %></th>
          <th><%= link_to "FAC",         :sort => "fac" %></th>
          <th><%= link_to "# of models", :sort => "modelCount" %></th>
          <th><%= link_to "# of genes",  :sort => "geneCount" %></th>
          <th><%= link_to "total occurences", :sort => "totalCount" %></th>
        </tr>
      </thead>
      <tbody>
        <% @factors.each do |factor| %>
          <tr>
            <td><%= link_to(factor.id, factor) %></td>
            <td><%= factor.name %></td>
            <td></td>
            <td></td>
            <td><%= factor.count_genes %></td>
            <td><%= factor.count_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
