<div class='content'>
  <div class="row banner">
  <div class="span12"><h1>Transcription Factors</h1></div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="2%"></th>
            <th><%= sortable_col :name %></th>
            <th><%= sortable_col :models_count, "# of models" %></th>
            <th><%= sortable_col :genes_count, "# of genes" %></th>
            <th><%= sortable_col :totals_count, "total occurences" %></th>
          </tr>
        </thead>
        <tbody>
          <% @factors.each do |factor| %>
            <tr>
              <td width="2%"><a class="edit" href="<%= edit_transcription_factor_path factor %>"><i class="icon-edit"></i></a></td>
              <td><%= link_to(factor.name, factor) %></td>
              <td><%= factor.models_count %></td>
              <td><%= factor.genes_count %></td>
              <td><%= factor.totals_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>