<h1>Transcription Factors</h1>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= sortable_col :name %></th>
          <th><%= sortable_col :fac, "FAC" %></th>
          <th><%= sortable_col :modelCount, "# of models" %></th>
          <th><%= sortable_col :geneCount, "# of genes" %></th>
          <th><%= sortable_col :totalCount, "total occurences" %></th>
        </tr>
      </thead>
      <tbody>
        <% @factors.each do |factor| %>
          <tr>
            <td><%= link_to(factor.name, factor) %></td>
            <td></td>
            <td></td>
            <td><%= factor.count_genes %></td>
            <td><%= factor.count_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
