<div class="content show-transcription_factor">
  <div class="row banner">
    <div class="span12">
      <h1><%= @factor.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%= sortable_col :state, "comparison" %></th>
            <th><%= sortable_col :label, "experiment" %></th>
            <th><%= sortable_col :tess,  "TESS" %></th>
            <th><%= sortable_col :name,  "gene" %></th>
            <th><%= sortable_col :beg,   "regulatory_element_location" %></th>
            <th><%= sortable_col :model %></th>
          </tr>
        </thead>
        <tbody>
          <% @regulatoryElements.each do |reg| %>
            <tr>
              <td><%= reg.gene.experiment.comparison.state %></td>
              <td><%= reg.gene.experiment.label %></td>
              <td><%= reg.gene.experiment.tess %></td>
              <td><%= reg.gene.name %></td>
              <td><%= reg.beg %></td>
              <td><%= reg.model %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
