<div class="content show-comparison-experiment">
  <div class="row">
    <div class="span6">
      <div class="row banner">
        <div class="span6"><h2>Comparison:</h2></div>
      </div>
      <div class="row">
        <div class="span2"><h4>state:</h4></div>
        <div class="span4"><h3><%= @comparison.state %></h3></div>
      </div>
      <div class="row">
        <div class="span2"><h4>species:</h4></div>
        <div class="span4"><h3><%= @comparison.species %></h3></div>
      </div>
    </div>
    <div class="span6">
      <div class="row banner">
        <div class="span6"><h2>Experiment:</h2></div>
      </div>
      <div class="row">
        <div class="span2"><h4>label:</h4></div>
        <div class="span4"><h3><%= @experiment.label %></h3></div>
      </div>
      <div class="row">
        <div class="span2"><h4>tess:</h4></div>
        <div class="span4"><h3><%= @experiment.tess %></h3></div>
      </div>
      <div class="row">
        <div class="span2"><h4>genes identified:</h4></div>
        <div class="span4">
          <h3><%= @experiment.identified %> <small>total</small></h3>
          <h3><%= @experiment.identified(:up) %> <small>up regulated</small></h3>
          <h3><%= @experiment.identified(:down) %> <small>down regulated</small></h3>
      </div>
    </div>
  </div>
  <div class="row banner">
    <div class="span12">
      <h2>Genes:</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%= sortable_col :name %></th>
            <th><%= sortable_col :chromosome %></th>
            <th><%= sortable_col :beg_site, 'begin site' %></th>
            <th><%= sortable_col :end_site %></th>
            <th><%= sortable_col :regulation %></th>
            <th><%= sortable_col :num_factors, 'factors discovered' %></th>
          </tr>
        </thead>
        <tbody>
          <% @genes.each do |gene| %>
            <tr>
              <td><%= link_to(gene.name, comparison_experiment_gene_path(@comparison, @experiment, gene)) %></td>
              <td><%= gene.chromosome %></td>
              <td><%= gene.beg_site %></td>
              <td><%= gene.end_site %></td>
              <td><%= gene.regulation %></td>
              <td><%= gene.num_factors %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
