<div class="content show-comparison-experiment">
  <div class="row banner">
    <div class="span12">
      <h2>Comparison:</h2>
    </div>
  </div>
  <div class="row">
    <div class="span2"><h4>state:</h4></div>
    <div class="span10"><h3><%= @comparison.state %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>species:</h4></div>
    <div class="span10"><h3><%= @comparison.species %></h3></div>
  </div>
  <div class="row banner">
    <div class="span12">
      <h2>Experiment:</h2>
    </div>
  </div>
  <div class="row">
    <div class="span2"><h4>label</h4></div>
    <div class="span10"><h3><%= @experiment.label %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>tess</h4></div>
    <div class="span10"><h3><%= @experiment.tess %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>genes identified</h4></div>
    <div class="span10">
      <h3><%= @experiment.identified %> <small>total</small></h3>
      <h3><%= @experiment.identified(:up) %> <small>up regulated</small></h3>
      <h3><%= @experiment.identified(:down) %> <small>down regulated</small></h3>
    </div>
  </div>
  <div class="row banner">
    <div class="span12">
      <h2>Genes:</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>chromosome</th>
            <th>begin site</th>
            <th>end site</th>
            <th>regulation</th>
            <th>factors discovered</th>
          </tr>
        </thead>
        <tbody>
          <% @experiment.genes.each do |gene| %>
            <tr>
              <td><%= gene.id %></td>
              <td><%= gene.name %></td>
              <td><%= gene.chromosome %></td>
              <td><%= gene.beg_site %></td>
              <td><%= gene.end_site %></td>
              <td><%= gene.regulation %></td>
              <td><%= gene.num_factors %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
