<div class="content popular-factors-results">
  <div class="row banner">
    <div class="span12"><h1>Popular Factors Results</h1></div>
  </div>
  <div class="row banner">
    <div class="span6">
      <h4 class="processing-results-status">Your data is now being processed.</h4>
    </div>
  </div>
  <div class="row">
    <div class="span6 processing-results-alert">
      <div class="alert alert-info">
        <strong>Please be patient,</strong> processing the data may take several minutes.
      </div>
    </div>
  <div class="row banner">
    <div class="span12 results-table"></div>
  </div>
  <div class="processing-results-progress"></div>
  <form id="search-params" style="display: none;">
    <input name="experiments" type="hidden" value="<%= @params[:experiments] %>" />
    <input name="la" type="hidden" value="<%= @params[:la] %>" />
    <input name="la_slash" type="hidden" value="<%= @params[:la_slash] %>" />
    <input name="lq" type="hidden" value="<%= @params[:lq] %>" />
    <input name="ld" type="hidden" value="<%= @params[:ld] %>" />
  </form>
</div>