<div class="content show-gene">
  <div class="row">
    <div class="span2"><h4>Regulatory Element:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.sequence %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>Begin Site:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.beg %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>Length:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.len %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>Sense:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.sns %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>La:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.la %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>La /:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.la_slash %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>Lq:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.lq %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>Ld:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.ld %></h3></div>
  </div>
  <div class="row">
    <div class="span2"><h4>PPV:</h4></div>
    <div class="span10"><h3><%= @regulatory_element.ppv %></h3></div>
  </div>
</div>