<div class="content">
  <h1>Genes</h1>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>            
            <th><%= sortable_col :species, 'Species'%></th>
            <th><%= sortable_col :name, 'Name'%></th>
            <th><%= sortable_col :abbrev, 'Abbrev.'%></th>
            <th><%= sortable_col :chromosome, 'Chromosome' %></th>
            <th><%= sortable_col :beg_site, 'Begin Site' %></th>
            <th><%= sortable_col :end_site, 'End Site' %></th>          
            <th># Of Comparisons</th>
            <th># Of Experiments</th>
          </tr>
        </thead>
        <tbody>
          <% @genes.each do |gene| %>
            <tr>              
              <td><%= gene.species %></td>
              <td><%= link_to(gene.name, gene) %></td>
              <td><%= gene.abbrev %></td>
              <td><%= gene.chromosome %></td>
              <td><%= gene.beg_site %></td>
              <td><%= gene.end_site %></td>              
              <td><strong>All:</strong> <%= gene.num_comparisons_all %></br>
                <strong>Up:</strong> <%= gene.num_comparisons_up %></br>
                <strong>Down:</strong><%= gene.num_comparisons_down %></td>
              <td><strong>All:</strong> <%= gene.num_experiments_all %></br>
                <strong>Up:</strong> <%= gene.num_experiments_up %></br>
                <strong>Down:</strong><%= gene.num_experiments_down %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
