<h1>Genes</h1>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= link_to "id",          :sort => "id" %></th>
          <th><%= link_to "species",          :sort => "species" %></th>
          <th><%= link_to "gene name", :sort => "name" %></th>
          <th><%= link_to "gene abbreviation", :sort => "abbrev" %></th>
          <th><%= link_to "chromosome", :sort => "chromosome" %></th>
          <th><%= link_to "begin site", :sort => "beg_site" %></th>
          <th><%= link_to "end site", :sort => "end_site" %></th>          
          <th>number of comparisons</th>
          <th>number of experiments</th>
        </tr>
      </thead>
      <tbody>
        <% @genes.each do |gene| %>
          <tr>
            <td><%= gene.id %></td>
            <td><%= gene.species %></td>
            <td><%= gene.name %></td>
            <td><%= gene.abbrev %></td>
            <td><%= gene.chromosome %></td>
            <td><%= gene.beg_site %></td>
            <td><%= gene.end_site %></td>
            <td>"Some query"</td>
            <td>"Some query"</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
