<!DOCTYPE html>
<html>
<head>
  <title>Team ToolTime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="https://wiki.csc.calpoly.edu/366-Winter2012/wiki/TeamToolTime">Team ToolTime</a>
      <ul class="nav">
        <li class="home"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#database-manipulation-menu">
            <i class="icon-plus-sign icon-white"></i>Database Manipulation
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="">Edit</a></li>
            <li><a href="#bulk-uploader-modal" data-toggle="modal">Upload <em>in bulk</em></a></li>
            <li><a href="">Upload <em>individually</em></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#database-summary-menu">
            <i class="icon-file icon-white"></i>Database Summary
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="">Genes</a></li>
            <li><a href="">Regulatory Elements</a></li>
            <li><a href="">Transcription Factors</a></li>
          </ul>
        </li>
        <li class="browse-comparisons"><%= link_to '<i class="icon-th-list icon-white"></i>Browse Comparisons'.html_safe, comparisons_path %></li>
        <li class="analytics"><a href="">Analytics</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="bulk-uploader-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Upload Data</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(data_upload_path, :multipart => true, :class => 'form-horizontal') do %>
      <fieldset>
        <legend>in batch</legend>
        <div class="control-group">
          <%= label_tag :data, 'data (zipped folder)', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag 'data[]', :multiple => 'multiple', :accept => 'text/csv' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Upload</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
